<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="WWConString" connectionString="data source=DESKTOP; initial catalog=WWSecurity; user id=sa; password=4sql2Know" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>